Library/
Logs/
obj/
Temp/
UserSettings/
.vs/
spine-csharp.csproj
spine-timeline.csproj
spine-timeline-editor.csproj
spine-unity.csproj
*.vsconfig
*.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
RGB_1.sln
spine-unity-editor.csproj
Build/
output-s/
HybridCLRData/
output/
Assets/StreamingAssets/
